html {
  background-color: #e584cd;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  background-color: #e6acde;
  text-align: center;
}

h1 {
  padding: 1%;
}

section {
  background-color: white;
}