html {
    background-color: #e584cd;
    margin-left: 10%;
    margin-right: 10%;
    font-family:"Georgia", "Times New Roman", "Times", "serif";
  }
  
  header {
    background-color: #e6acde;
    text-align: center;
    margin-top: 60px;
  }
  
  h1 {
    padding: 1%;
  }
  
  main {
    background-color: white;
    padding: 3vw;
  }
  
  header, main {
    border-radius: 50px;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* color: white; */
    background-color: white;
    padding: .5rem;
    padding-bottom: 1rem;
    margin-bottom: 2%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

.summary-header{
  text-align: left;
}

.profile-picture{
  border-radius: 60%; 
  width: 60px; 
  height: 60px;
  margin-right: 2rem;
}

.card-title{
  font-size: 15px;
}

.card-text{
  font-size: 40px;
}

.card-text-goals{
  font-size: 30px;
}

.card-img {
  width: 20px; 
  height: auto; 
}

@media (max-width: 768px) {

}
