body {
    background-color: #e584cd;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    font-family:"Georgia", "Times New Roman", "Times", "serif";
  }

  body, html {
    height: 80%;
    padding: 0;
  }

  header {
    background-color: #e6acde;
    text-align: center;
    margin-top: 60px;
  }

  h1 {
    padding: 1%;
  }

  main {
    background-color: white;
    padding: 3vw;
  }

  header, main {
    border-radius: 50px;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* color: white; */
    background-color: white;
    padding: .5rem;
    padding-bottom: 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

.summary-header{
  text-align: left;

}
/*
* Summary styles
*/

body.summary-page main {
  display: block;
  background-color: #e584cd
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-title{
  font-size: 15px;
}
.summary-container {
  margin: 20px auto;
}

.summary-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 15px 20px;
  max-width: 540px;
  flex: 1 0 100%;
}

.card-text{
  font-size: 40px;
}
.summary-card-body {
  padding: 20px;
}

.card-text-goals{
  font-size: 30px;
}
.summary-card-content {
  display: flex;
  align-items: center;
}

.card-img {
  width: 20px;
  height: auto;
.summary-card-img {
  width: 50px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.summary-card-title {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.summary-card-text {
  font-size: 1.5em;
  margin: 0;
}

.summary-card-text-goals {
  font-size: 1em;
}

.list-group-item {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.card-text ul {
  list-style: none;
  padding: 0;
}

.card-text ul li {
  font-size: 1em;
  margin: 5px 0;
}


/*
* Dashboard styles
*/
main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

article {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#todays-checklist, #weekly-checklist {
  width: 33.333%; /* One third of the screen each */
  height: 100%; /* They take up half of the vertical space each */
}

.thirds {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#summary, #enter-text {
  height: 50%; /* Each takes up half of the vertical space in the last third */
}

textarea {
  width: 100%; /* Makes the textarea fill the container */
  box-sizing: border-box; /* Includes padding and border in the width */
}


/* Quiz Page */
.message{
  text-align: center;
}

.mybutton{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid;
  background-color:lightpink;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}


.my-button:hover {
  background-color: white;
  color: black;
}