.header {
  margin-top: 100px;
}



.content {
  display: flex;
  flex-direction: row;
  
}

.entries {
  min-width: 125px;
  flex: 1;
  padding-right:.5rem;
  border-right: solid 2px #e6acde;
  height: calc(100vh - 200px); /* Set a specific height for the entries section */
  overflow-y: auto;
  overflow-x: hidden;
}

.entry {
  display: contents;
}

.entry-lg {
  display: none;
}

.page {
  min-width: 200px;
  padding-left: 1rem;
  flex: content;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.subheader {
  padding-bottom: 1%;
}

input {
  font-size: medium;
  align-self: center;
  margin-top: 0;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Georgia", "Times New Roman", "Times", "serif";
  font-weight: bold;
}


h3 {
  font-size:medium;
  margin:0;
  padding-top: .25rem;
}

p {
  font-size:small;
  margin: 0;
}

.date {
  padding-bottom: 3px;
  font-style:italic;
}

.first-line {
  padding-bottom: .25rem;
  border-bottom: dashed 1px black;
}

.first-line:last-of-type {
  margin-bottom: 1em;
}

.first-line-long {
  display:none;
}

.filter-options {
  display:flex;
  flex-direction:column;
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: dashed 2px black;
}

.filter-options label {
  margin-bottom: .5em;
}

.filter-options input {
  font-weight: light;
  font-size: 95%;
  width: 100%;
}


.current-entry {
  height: 60vh;
  width: 100%;
  background-color: #f2d9ef;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: .5rem;
}

button {
  margin: 5px;
}

@media (min-width: 768px) {
  .entries {
    flex: 1;
    padding-right:.5rem;
    border-right: solid 2px #e6acde;
    height: calc(100vh - 200px); /* Set a specific height for the entries section */
    overflow-y: auto;
  }

  .first-line {
    display:none;
  }

  .first-line-long {
    display: block;
    border-bottom: dashed 1px black;
  }
}


