
  .sign-in-container h1 {
    font-size: 2em;
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sign-in-container p {
    font-size: 1.2em;
    margin-bottom: 50px;
    text-align: center;
  }

  